.about-container {
    text-align: center;
    margin: 20px;
  }
  
  .about-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; 
    font-weight: bold;
    font-size: 2em;
  }
  
  .about-text {
    font-size: 16px;
    line-height: 1.5;
    max-width: 600px;
    margin: 0 auto;
    text-align: left; // Ensure text aligns properly
    white-space: pre-wrap; // Preserve spaces and line breaks
  }
  